.title-content-1 {
    color: #175442;
    background-color: #e0ecf6;
  }
  
  .title-content-2 {
    background-color: #8bb3d9;
  }
  
  .title-content-3 {
    color: #f69631;
  }
  
  .title-content-4 {
    font-weight: bolder;
  }

 .classTable td :first-child{
font-size: 11px;
  }
